#background {
    background:url('https://wallpapercave.com/wp/MEOaSII.jpg');
    width:100%;
    height:auto;
  }
  
   #hero {
      background: #ffffff;
      padding: 75px;
      border-radius: 50px;
      margin: 20px 0;
      font-family: 'Orbitron', sans-serif;
      text-align: center;
    }
     .gameOver {
      margin: 20px 0;
      font-family: 'Orbitron', sans-serif;
      text-align: center;
       font-size: 40px;
    }
  
    #game, #start {
      background: #c7c7c7 ;
      padding: 50px;
      border-radius: 50px;
      margin: 20px 0;
    }
    
    .scoreboard {
      font-family: 'Orbitron', sans-serif;
      width:300px;
      background:black;
      color:white;
      padding: 15px;
      font-size: 40px;
      line-height: 50px;
      border: white solid 2px;
    }
  
  
  #question {
    padding: 30px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    background-color: #000000;
    margin: 5px;
    border-radius:20px;
    width:70%;
  }
  
  .answer {
    text-align: center;
    padding: 15px;
    color: #000000;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    margin: 5px;
    border-radius:20px;
    width:50%;
  }
  
  .answer:hover {
    color: #000000;
    background-color: #DEEFF5;
  }
  
  
  #completed {
    display: none;
  }
  #incompleted {
    display: none;
  }
  #timesUp {
    display: none;
  }
  
  button {
    width: 30%;
    padding: 15px;
    font-size: 20px;
}
  @media only screen and (max-width: 950px) {
    .scoreboard {
        width:200px !important;
        padding: 5px !important;
        font-size: 30px !important;
        line-height: 40px !important;
      }
      #game, #start, #hero, #question {
          padding: 20px !important;
      }
  }

